{% import '_includes/forms' as forms %}

<div class="settings">

	{{ forms.textareaField({
		label: "Whitelist"|t,
		instructions: "List of domains that will be preservered when purifying the HTML. Subdomains will also be included."|t,
		id: 'whitelist',
		name: 'whitelist',
		rows: 8,
		value: settings.whitelist | join('\n')
	}) }}

	{% set paramRows = [] %}
	{% for param, value in settings.parameters %}
		{% set paramRows = paramRows | merge([{param: param, value: value}]) %}
	{% endfor %}

	{{ forms.editableTableField({
		label: "Parameters"|t,
		instructions: "List of extra parameters and their values to be sent when retrieving embed data."|t,
		id: 'parameters',
		name: 'parameters',
		rows: paramRows,
		cols: {
			param: {type: 'singleline', heading: "Parameter Name"|t, class: 'code'},
			value: {type: 'singleline', heading: "Value"|t}
		},
		addRowLabel: "Add a parameter"|t
	}) }}

</div>